/* CSS files add styling rules to your content */
<link rel="stylesheet" href="/style.css">

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
/*   padding-bottom: 50px; */
  line-height: 200%;
}

.title {
  font-size:32px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 490;
/*   font-weight: bold; */
}

.title-index {
  font-size:25px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
/*   font-family: Arial,Helvetica,sans-serif; */
/*       font-family: Helvetica,"Helvetica Neue",sans-serif; */
  font-weight: 500;
  color:black;
}


.disappear{
/*     display: none; */
  opacity: 0;
}
a.exist {
  color:black;
}
a.exist:hover {
  color:#3E89ED;
}
a.one, a.two, a.three {
  color:black;
}
a.one:hover {
  color:#3E89ED;
}
a.one:hover + .disappear{ 
  opacity: 1;
}
a.two:hover {
  color:#3E89ED;
}
a.three:hover {
  color:#3E89ED;
}



.title-italic {
  font-size:25px;
/*   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
/*   font-family: Helvetica,"Helvetica Neue",sans-serif; */
  font-family: Arial,Helvetica,sans-serif;
  font-style: italic ;
  font-weight: 500;
}

.subtitle {
/*   font-family: "Times New Roman", Times, serif;
  font-size: 22px; */
/*   font-family: Helvetica,"Helvetica Neue",sans-serif; */
  font-size: 14px;
  font-family: Arial,Helvetica,sans-serif;
  line-height: 1.5;
}

.subtitle + .subtitle{
  margin-bottom: 20px;
  margin-top: 20px;
}

.tiny-font {
  font-size:20px;
/*   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
/*   font-family: Helvetica,"Helvetica Neue",sans-serif; */
  font-family: Arial,Helvetica,sans-serif;
  font-style: italic ;
  font-weight: 490;
}


.home {
  font-style: italic;
  color: #0000FF;
}


.index-parent {
  background: white;
  height: 600px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;
}
.index-inner {
  color: white;
  padding: 10px; 
  resize: vertical;
  overflow: auto;
  left:15%;
  position: absolute;
}

.index-image-format {
  position: absolute;
  right: 15%;
  resize: vertical;
  width: 550px;
  
}

/* design index */
.di-parent {
  display: flex;
  background: white;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;
}

.di-inner {
  color: white;
  padding-left: 120px; 
  resize: vertical;
  overflow: auto;
}


.container {
  position: relative;
}

.picture_format{
  position: absolute;
  left: 500px;
  top: 205px; 
  z-index: -1;
}


.about_text_format{
  position: absolute;
  left:410px;
  top: 120px;
  width: 500px;
}


.inner-top {
  color: white;
  padding: 50px; 
  padding-left: 70px;
  resize: vertical;
  overflow: auto;
}

